.App {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.App-header {
  background-color: #282c34;
  min-height: 12vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
  .App-body {
    flex-direction: column;
  }
}

.Main {
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-wrap: wrap;
}
