.Restaurant-item {
  display: flex;
  flex-direction: row;
  background-color: #dddddd;
  border: 1px solid darkgrey;
  padding: 10px 10px;
}

.Hovered {
  background-color: #5f9ea0;
}

.Restaurant-main {
  flex: 4;
  align-self: center;
}

.Restaurant-rating {
  flex: 1;
}

.Restaurant-name {
  font-size: large;
}

.Restaurant-address {
  font-size: small;
  font-style: italic;
}